<h2>Join the community!</h2>
<br>
<form action="/signup" method="POST" id="form-container">
  <label for="email">Email &#8195;&#8195;&#8195;</label>
  <input id="email" type="text"; name="email" placeholder="Your email">
  <br><br>
  <label for="password">Password &#8194;&#8194;</label>
  <input id="password" type="password" name="password" placeholder="Choose a password">
  <br> <br><br>
  <label>Role in community &#8195;</label>
  <label class="radio-inline"><input type="radio" name="role" value="artist">Artist</label>
  <label class="radio-inline"><input type="radio" name="role" value="lover">Music Lover</label>
  <label class="radio-inline"><input type="radio" name="role" value="producer">Producer</label>

  <br><br><br>

  <button class="btn-info">Create account</button>
  <br><br>
  <% if (errMessage) { %>
    <div class="message-bad"><%= errMessage %></div>
  <% } %>
  <br>
  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
