<!DOCTYPE HTML>
<html>

  <head>

    ...

    <style type="text/css">

        ...

        .inline-form input {
            display: inline-block;
            width: 100px;
        }

    </style>

  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"> <a href="#"></a><img class=img-responsive src=PC/image/logo.png/></li>
            <li> <a href="#">signin</a> </li>
            <li> <a href="#">login</a> </li>
            <li> <a href="#">upload song</a> </li>
          </ul>
          <form class="navbar-form navbar-right inline-form">
            <div class="form-group">
              <input type="search" class="input-sm form-control" placeholder="Recherche">
              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
            </div>
          </form>
        </div>
      </nav>
      <div class="container">
        <div class="col-9">
          1 of 2
        </div>
        <div class="col-4">
          2 of 2
        </div>
      </div>
    </div>
  </body>
</html>
