<h1><%= message %></h1>

<br><br>

<h2>This Moment's Billboard</h2>


<% list.forEach((song) => {  %>
  <h4><%= song.title %></h4>
  <% let embedUrl = "http://www.youtube.com/embed/" + youtube_parser(song.link) %>
  <iframe class="ytplayer" type="text/html" frameborder="0"
              src= <%= embedUrl %> >
  </iframe>
  <br><br><br>
<% }); %>

<div class="arrow-up" id="plus"></div>
<div class="circle" ></div>
<div class="arrow-down" id="minus"></div>

<script type="text/javascript">
var counter = 0;

$("#plus").click(function() {
  counter++;
  $("#count").text(counter);
});
$("#plus").click(function() {
  $(this).hide();
});
$("#minus").click(function() {
  counter--;
  $("#count").text(counter);
});
$("#minus").click(function() {
  $(this).hide();
});
</script>
