
<div class="container">
  <div class="row">
    <div class="col-xs-9" id="left-side">
      <p><%= message %></p>
      <iframe class="ytplayer" type="text/html"
 src="http://www.youtube.com/embed/hRK7PVJFbS8?autoplay=0&origin=http://example.com"
 frameborder="0"/> </iframe>
    </div>
    <div class="col-xs-3" id="right-side">

      <div class="w3-container w3-gray">
        <h2>Welcome to MusiCafe</h2>
        <p> This community was created for music lovers just like you !
          listen to new songs uploaded by artists all around the world,
          vote on them and share your artistic insight.
          You can also chat with fellow music lovers who live around the world
          or with your favorite artist.
        </p>
        <hr>
      </div>

    </div>
  </div>
</div>
