
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <p><%= message %></p>
      <iframe id="ytplayer" type="text/html"
 src="http://www.youtube.com/embed/hRK7PVJFbS8?autoplay=1&origin=http://example.com"
 frameborder="0"/>
    </div>
    <div class="col-xs-3">
      <p>2 of 2</p>
    </div>
  </div>
</div>
