body {
  padding: 50px;
  font: 1.3vw "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.inline-form input {
  display: inline-block;
  width: 100px;
}

#logo {
  height: 1.5em;
  width: 8em;
}

#ytplayer {
  width: 20em;
  height: 15em;
}
