body {
  padding: 50px;
  font: 1.3vw "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-image: url("/images/logo-min.png");
}

a {
  color: #00b7ff;
}

.inline-form input {
  display: inline-block;
  width: 100px;
}

#logo {
  height: 5em;
  width: 10em;
  padding-bottom: 35px;
  top: 0;
}

.ytplayer {
  width: 20em;
  height: 15em;
}

#left-side {
}

#right-side {
  background-color: rgba(142, 158, 184, 0.71);
  color: white;
  font-family: bodoniMT;
}

#email,
#username,
#password,
#role {
  padding: 3px;
  border-radius: 7px;
}

.message-bad {
  color: red;
}

.message-good {
  color: green;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
}
.change {
  background-color: rgba(255, 69, 0, 0.4);
}

#login-container {
}

#signup-container {
}
background-color: rgba(142, 158, 184, 0.71);

#billboard {
  background-color: rgba(142, 158, 184, 0.71);
  color: white;
  font-family: bodoniMT;
  width: 40em;
  height: 5em;
}

.song {
  background-color: rgba(142, 158, 184, 0.71);
  color: white;
  font-family: bodoniMT;
  width: 20em;
  height: 2em;
}

#message {
  background-color: rgba(142, 158, 184, 0.71);
  color: white;
  font-family: bodoniMT;
  width: 15em;
  height: 2em;
}
