

<h2>Feel like getting in spotlight?</h2>
<h3>To publish your song, please submit its YouTube url below:</h3>
<br>
<form action="new" method="POST">
  <label for="link">URL </label>
  <input id="link" type="url" name="link" placeholder="Your YouTube url here">
  <br><br>
  <label for="title">Song Title </label>
  <input id="title" type="text" name="title" placeholder="Title of your song">

  <br><br>
  <button type="submit" class="btn-info">Publish</button>
  <br><br>

</form>
