

<h2>Feel like getting in spotlight?</h2>
<h3>To publish your song, please submit its YouTube url below:</h3>
<br>
<form action="new" method="POST">
  <label for="link">URL &#8194;&#8194;&#8194;&#8194;&#8194;&#8194;&#8194;&#8194;&#8194;</label>
  <input id="link" type="url" name="link" placeholder="Your YouTube url here">
  <br><br>
  <label for="title">Song Title &#8194;&#8194;&#8194;</label>
  <input id="title" type="text" name="title" placeholder="Title of your song">
  <br><br>
  <label for="artistName">Artist &#8194;&#8195;&#8194;&#8195;&#8194; </label>
  <input id="artistName" type="text" name="artistName" placeholder="Name of artist">
  <br><br>
  <button type="submit" class="btn-info">Publish</button>
  <br><br>

</form>
