

<h2>Feel like getting in spotlight?</h2>
<h3>To publish your song, please submit its YouTube url below:</h3>
<br>
<form action="/dashboard" method="POST" id="form-container">
  <label for="link">URL &#8195;&#8195;&#8195;</label>
  <input id="link" type="text"; name="link" placeholder="Your YouTube url here">
  <br><br>
  <label for="title">Song Title &#8195;&#8195;&#8195;</label>
  <input id="title" type="text"; name="title" placeholder="Title of your song">

  <br><br>
  <button class="btn-info">Publish</button>
  <br><br>

</form>
